.image-block {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 650px;
  --f: 1.05; /* the scale factor */

  clip-path: inset(0);
  transition: 0.4s;
  &:hover {
    clip-path: inset(calc((1 - 1 / var(--f)) * 50%));
    scale: var(--f);
  }

  @media (max-width: 991px) {
    max-height: 370px;
  }
}
