.block {
  border-radius: 10px;
  padding-inline: 60px;
  padding-block: 50px;

  @media (max-width: 991px) {
    padding-inline: 11px;
    padding-block: 26px;
  }

  h1 {
    margin-block-end: 2.5rem;

    @media (max-width: 991px) {
      margin-block-end: 1.25rem;
    }
  }

  button {
    margin-block-start: 3rem;
    @media (max-width: 991px) {
      margin-block-start: 1.5rem;
    }
  }

  &-bruin {
    background-color: var(--bruin);
  }

  &-roze {
    background-color: var(--roze);
  }

  &-groen {
    background-color: var(--groen);
  }
}

.medium {
  margin-block-end: 6rem;

  @media (max-width: 991px) {
    margin-block-end: 1.2rem;
  }
}

.link {
  color: var(--zwart);
  font-family: "Slussen-Medium", sans-serif;
  font-size: 1.2rem;
  white-space: pre-wrap;
  display: flex;
  align-items: center;

  img {
    margin-inline-end: 1rem;
  }

  @media (max-width: 991px) {
    font-size: 0.9rem;
  }
}
