.button {
  border-radius: 50px;
  padding: 10px 20px;
  font-family: Slussen-Semibold, sans-serif;
  border: 0;
  font-size: 1.25rem;


  @media (max-width: 991px) {
    font-size: 1rem;
  }
  &-zwart {
    color: white;
    background-color: var(--zwart);
  }

  &-roze {
    color: var(--zwart);
    background-color: var(--roze);
    --bs-btn-hover-bg: var(--roze-light);
    --bs-btn-hover-color: var(--zwart);
    --bs-btn-active-bg: var(--roze);
    --bs-btn-active-color: var(--zwart);
  }
}
