.overons-container {
  &-intro {
    text-align: center;
    margin-block-end: 2.5rem;
    @media (max-width: 991px) {
      margin-block-end: 1.25rem;
    }
  }
  a {
    margin-block: 0.5rem;
  }
  b {
    font-size: 1.1rem;
  }
  h1 {
    text-align: center;
    margin-block-end: 2.5rem;
    @media (max-width: 991px) {
      margin-block-end: 1.25rem;
    }
  }
  h2 {
    color: var(--zwart);
    margin-block: 2rem 1rem;
    font-size: 1.5rem;

    @media (max-width: 991px) {
      margin-block: 1.25rem 1rem;
      font-size: 1.25rem;
    }
  }
}
