.onze-laboranten-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-block-start: 1rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  .grey-block {
    border-radius: 10px;
    background-color: var(--grijs);
    padding: 4rem;

    @media (max-width: 991px) {
      padding-block: 2rem;
      padding-inline: 1.5rem;
    }
  }

  .info {
    h1,
    p {
      margin-block-end: 2.25rem;
      @media (max-width: 991px) {
        margin-block-end: 1rem;
      }
    }
  }

  button {
    margin-block-start: 2rem;
    width: 240px;
    @media (max-width: 991px) {
      margin-block-start: 1rem;
      width: 200px;
    }
  }

  .gegevens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 1rem;
    grid-gap: 1.5rem;

    @media (max-width: 991px) {
      grid-gap: 1rem;
      grid-template-columns: 1fr;
      text-align: center;
    }
  }

  .animatie {
    --f: 1.025; /* the scale factor */
    a {
      display: block;
    }
    transition: 0.4s;
    &:hover {
      scale: var(--f);
    }
  }
}
