@import url("~bootstrap/scss/bootstrap.scss") layer(bootstrap);

@layer bootstrap, base, application;

@layer base {
  :root {
    --roze: rgb(255, 130, 245);
    --roze-light: rgba(255, 130, 245, 0.8);
    --bruin: rgb(194, 138, 89);
    --groen: rgb(40, 240, 125);
    --grijs: rgb(229, 229, 229);
    --zwart: rgb(23, 23, 23);
  }
  body {
    padding: 1.25rem;

    @media (max-width: 991px) {
      padding: 0.75rem;
    }
  }

  a {
    font-family: "Slussen-Medium", sans-serif;
    &.underline {
      text-decoration: underline !important;
      color: unset;
    }
  }

  @font-face {
    font-family: "Slussen-Medium";
    src: url("/assets/fonts/Slussen-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Slussen-MediumItalic";
    src: url("/assets/fonts/Slussen-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Slussen-Regular";
    src: url("/assets/fonts/Slussen-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Slussen-RegularItalic";
    src: url("/assets/fonts/Slussen-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Slussen-Semibold";
    src: url("/assets/fonts/Slussen-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Slussen-SemiboldItalic";
    src: url("/assets/fonts/Slussen-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  #root {
    display: contents;
  }

  .block-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 1rem;
    grid-gap: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  .ons-aanbod-container {
    margin-inline: 3.5rem;
    margin-block: 3.5rem;

    @media (max-width: 991px) {
      margin-inline: 0;
      margin-block: 1.8rem;
      margin-block-end: 0;
    }
  }
  .ons-aanbod-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
    &-home {
      grid-template-columns: 1fr 1fr;

      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }
    }
  }

  h1 {
    font-family: Slussen-Medium, sans-serif;
    font-size: 3rem;
    color: var(--zwart);

    @media (max-width: 991px) {
      font-size: 1.75rem;
    }
  }

  h2 {
    font-family: Slussen-Medium, sans-serif;
    font-size: 2rem;
    color: white;

    display: flex;
    align-items: center;
    justify-items: flex-start;
    @media (max-width: 991px) {
      font-size: 1.25rem;
    }
  }

  p {
    font-size: 1.2rem;
    color: var(--zwart);
    white-space: pre-line;
    font-family: Slussen-Regular, sans-serif;
    text-wrap: pretty;

    @media (max-width: 991px) {
      font-size: 0.9rem;
    }

    &.medium {
      font-family: Slussen-Medium, sans-serif;
    }

    &.regular {
      font-family: Slussen-Regular, sans-serif;
    }
  }
}
