@import url("~bootstrap/scss/bootstrap.scss") layer(bootstrap);

@layer bootstrap, base, application;

@layer base {
  :root {
    --roze: rgb(255, 130, 245);
    --roze-light: rgba(255, 130, 245, 0.8);
    --bruin: rgb(194, 138, 89);
    --groen: rgb(40, 240, 125);
    --grijs: rgb(229, 229, 229);
    --zwart: rgb(23, 23, 23);
  }
  body {
    padding: 0.5rem;
  }

  a {
    font-family: "Slussen-Medium", sans-serif;
  }
  //Fonts

  @font-face {
    font-family: "Slussen-Medium";
    src: url("/assets/fonts/Slussen-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Slussen-MediumItalic";
    src: url("/assets/fonts/Slussen-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Slussen-Regular";
    src: url("/assets/fonts/Slussen-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Slussen-RegularItalic";
    src: url("/assets/fonts/Slussen-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Slussen-Semibold";
    src: url("/assets/fonts/Slussen-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Slussen-SemiboldItalic";
    src: url("/assets/fonts/Slussen-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }

  #root {
    display: contents;
  }
  h1 {
    font-family: Slussen-Semibold, sans-serif;
  }

  main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
    text-align: center;

    @media (min-width: 992px) {
      padding: 2rem 4rem;
    }
    @media (min-width: 768px) {
      padding: 2rem 2rem;
    }
  }
}
