.marquee {
  background-color: var(--groen);
  border-radius: 10px;
  height: 80px;
  padding-inline: 2rem;
  margin-block: 1rem;
  overflow: hidden;
  text-align: center;
  display: flex;
  gap: 2rem;
  @media (max-width: 991px) {
    height: 60px;
    padding-inline: 1rem;
  }

  h2 {
    color: var(--zwart);
    text-align: center;
    white-space: nowrap;
    margin: auto;
    animation: move-words-left 25s linear infinite;
    position: relative;
  }
  &-right {
    h2 {
      animation: move-words-right 25s linear infinite;
    }
  }

  &-zwart {
    border-radius: 10px 10px 0 0;
    margin-block-end: -5px;
    background-color: var(--zwart);
    h2 {
      color: white;
    }
  }
}

@keyframes move-words-left {
  0% {
    left: 5%;
  }
  100% {
    left: -75%;
  }
}

@keyframes move-words-right {
  0% {
    right: 75%;
  }
  100% {
    right: -5%;
  }
}
