.navbar {
  background-color: var(--zwart);
  border-radius: 10px;
  min-height: 80px;
  padding-inline: 2rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  @media (max-width: 991px) {
    min-height: 60px;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1rem;
  }
}
.nav-link {
  color: white;
  font-size: 1.2rem;
  padding-inline: 2rem;

  &-footer {
    font-size: 1rem;
  }

  &.active,
  &.show {
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
  }
}
.navbar-toggler {
  border: 0;
  &-icon {
    width: 23px;
    height: 23px;
  }
  &-open :first-child {
    background-image: url("/assets/svg/nav-icon-open.svg");
  }
  &-close :first-child {
    background-image: url("/assets/svg/nav-icon-close.svg");
  }
}

.offcanvas {
  @media (max-width: 991px) {
    background: var(--zwart);
    margin-inline: 0.75rem;
    margin-block-start: 5.5rem;
    border-radius: 10px;
  }
  max-width: 92.5vw;
}
a {
  text-decoration: none;
}
