.navbar {
  background-color: var(--zwart);
  border-radius: 10px;
  min-height: 80px;
  padding-inline: 2rem;
  justify-content: space-between;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  @media (max-width: 991px) {
    min-height: 60px;
    justify-content: center;
    padding-inline: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
.nav-link {
  color: white;
  font-size: 1.2rem;
  padding-inline: 2rem;

  --f: 1.05; /* the scale factor */

  clip-path: inset(0);
  transition: 0.4s;
  &:hover {
    clip-path: inset(calc((1 - 1 / var(--f)) * 50%));
    scale: var(--f);
  }

  &-footer {
    font-size: 1rem;
  }

  &.active,
  &.show {
    text-decoration-line: underline;
    text-decoration-color: white;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
  }
}
.navbar-toggler {
  border: 0;
  justify-self: end;
  margin-right: 0 !important;
  &-icon {
    width: 23px;
    height: 23px;
  }
  &-open :first-child {
    background-image: url("/assets/svg/nav-icon-open.svg");
  }
  &-close :first-child {
    background-image: url("/assets/svg/nav-icon-close.svg");
  }
}

.offcanvas {
  @media (max-width: 991px) {
    background: var(--zwart);
    margin-inline: 0.75rem;
    margin-block-start: 5.5rem;
    border-radius: 10px;
  }
  max-width: calc(100vw - 1.5rem);
}
a {
  text-decoration: none;
}
