.aanbod-container {
  border-radius: 10px;

  margin-block: 1rem;
  display: flex;
  align-items: flex-end;
  min-height: 520px;
  @media (max-width: 991px) {
    min-height: 450px;
  }

  &-info {
    background-color: var(--zwart);
    width: 100%;
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block-start: 1rem;
    padding-block-end: 1.6rem;

    @media (max-width: 991px) {
      padding-inline: 0.5rem;
      padding-block-start: 0.9rem;
    }

    img {
      rotate: 180deg;
      height: 15px;
      margin-inline: 0.5rem;
    }

    p {
      color: white;
      margin-block-end: 0.5rem;
    }
  }

  &-image-stock {
    background-image: url("/lablou/assets/images/voorbeeldfoto.png");
    background-size: cover;
  }
}
