.aanbod-container {
  border-radius: 10px;

  margin-block: 1rem;
  display: flex;
  align-items: flex-end;
  min-height: 520px;
  --f: 1.025; /* the scale factor */

  transition: 0.4s;
  &:hover {
    scale: var(--f);
  }

  @media (max-width: 991px) {
    min-height: 450px;
  }

  &__extra_info_container {
    display: inline-grid;
    grid-auto-flow: column;
    margin-block-start: 1rem;
    margin-inline-end: auto;
    margin-inline-start: 0.5rem;
    gap: 1rem;
  }
  &__extra-info {
    flex-direction: column;
    justify-content: space-between;
  }

  &-info {
    background-color: var(--zwart);
    width: 100%;
    border-radius: 10px;
    padding-inline: 1.5rem;
    padding-block: 1.6rem;

    @media (max-width: 991px) {
      padding-inline: 0.5rem;
      padding-block: 1rem;
    }
    h2 {
      margin-block-end: 0;
    }

    p {
      color: white;
      margin-block-end: 0.5rem;
    }
  }

  &-image-kantoor_en_atelierruimte {
    background-image: url("/assets/images/home/kantoor_en_atelieruimte.jpg");
    background-size: cover;
  }

  &-image-flexruimtes {
    background-image: url("/assets/images/home/flexruimtes.png");
    background-size: cover;
  }
  &-image-flexplek {
    background-image: url("/assets/images/flexruimtes/flexplek.jpg");
    background-size: cover;
  }
  &-image-gesprekskamer {
    background-image: url("/assets/images/flexruimtes/gesprekskamer.jpg");
    background-size: cover;
  }
  &-image-vergaderkamer {
    background-image: url("/assets/images/flexruimtes/vergaderkamer.jpg");
    background-size: cover;
  }
  &-image-workshopruimte {
    background-image: url("/assets/images/flexruimtes/workshopruimte.jpg");
    background-size: cover;
  }
  &-image-grotezaal {
    background-image: url("/assets/images/flexruimtes/grotezaal.jpg");
    background-size: cover;
  }
  &-image-debinnentuin {
    background-image: url("/assets/images/flexruimtes/debinnentuin.jpg");
    background-size: cover;
  }
  &-image-auditorium {
    background-image: url("/assets/images/flexruimtes/auditorium.jpg");
    background-size: cover;
  }
}
