address {
  margin-bottom: 0;
}
footer {
  margin-block-start: 1rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr !important;
  }
  .nav-link-footer {
    text-align: end;
    @media (max-width: 991px) {
      text-align: center;
      margin-inline: auto;
    }
  }
}
