.over-ons {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-content: start;
  margin-block-start: 4rem;
  margin-block-end: 6rem;

  @media (max-width: 991px) {
    grid-template-columns: 1fr;
    margin-block-start: 2rem;
    margin-block-end: 4rem;
  }
}

.terug-knop {
  align-self: start;
}
